node_modules/
dist/
build/
.env
.env.local
.env.*.local
.DS_Store
*.log
.vscode/
/.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.turbo/
/.parcel-cache/
/.pnp/*
/.pnp.jsnode_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
server_data.json
